body {
    overflow-x: hidden;
}

#section-1 {
    width : 100%;
    height : 100vh;
    position: relative;
    top : 71px;
}

.window-section-1 {
    min-height: 100vh;
    background: transparent;
}

.home-main-row {
    color : white;
}

.home-main-row .title {
    font-size: 60px;
    text-shadow: 0 2px 3px rgba(0,0,0,.2);
    letter-spacing: -1px;
    font-weight : 300;
    display: inline;
}
.home-main-row .sm-title {
    display : none;
}

.stick {
    border : 2px solid #f4b400;
    font-size : 50px;
    height: 100px;
}

.name_tag {
    padding : 5px 15px;
    background-color: #f4b400;
    font-weight: bold;
    font-size : 28px;
    color : white;
    position : relative;
    top : 10px;
    right : 125px;
}

.home-card-row {
    width : 100%;
    padding : 30px;
    margin : 0px;
}

.home-card {
    padding : 35px 25px 35px 25px;
    width : 438px;
    height : 360px;
    display: flex;
    justify-content: space-between;
    margin: 8px;
    border-radius: 3%;
}

.home-card .title {
    margin-bottom : 22px;
    font-size : 30px;
    color : #626262;
    font-weight : 300;
}

.home-card .description {
    margin-top : 10px;
    margin-bottom : 25px;
    color : #626262;
    font-size : 17px;
}

.home-card .image {
    margin : auto;
}

.home-card .link {
    padding : 15px 40px;
    background-color: #4386FC;
    color : #ffffff !important;
    font-weight: bolder;
    text-decoration: none;
}

#section-1 .arrow {
    height : 0px;
    width : 100%;
    position : relative;
    top : 5vh;
}

#section-1 .arrow .fa-chevron-down {
    color : white;
    font-size : 25px;
}


/*section-1 end*/

/* section-5 start */
#section-5 {
    margin : 0 54.4px;
    padding : 85px 20px;
    display: flex;
    flex-direction: row-reverse;
}
#section-5 .text-wrap {
    padding : 0 30px;
    justify-items: center;
}
#section-5 .title {
    font-size : 48px;
    font-weight : 300;
}

#section-5 .description {
    font-size : 21px;
    font-weight : 300;
    color : #555555;
}

#section-5 .paper {
    padding : 50px 40px;
    width : 250px;
    height : 226px;
    border: 0.5px solid #efefef;
    border-radius: 0%;
    box-shadow: 1px 0px #E7E7E7;
}

#section-5 .paper .line {
    height : 18px;
    background-color : #E7E7E7;
    margin-bottom : 18px;
}

#section-5 .paper .line-90 {
    width : 90%;
}

#section-5 .paper .line-60 {
    width : 60%;
    display : inline-block;
}

#section-5 .bar {
    width : 2px;
    height : 24px;
    margin-left : 5px;
    background-color : #000000;
    display : inline-block;
    position : relative;
    bottom : 15px;
}

#section-5 .check-icon {
    width : 38px;
    height : 38px;
    border-radius: 100%;
    background-color : green;
    color : white;
    font-size : 25px;
    position : relative;
    right : 269px;
    top : 113px;
}

#section-9 .image-part {
    width : 50vw;
    height : 100%;
    object-fit: fill;
    background: url(https://www.google.com/intl/ko_KR/docs/about/images/en/devices_2x.png) center no-repeat;
    background-size: 950px;
    background-position: 100%;
}

#section-9 .text-wrap {
    margin : 200px 0px 20px 0px;
    padding-right : 15%;
    padding-top : 30px;
    padding-bottom : 130px;
}

#section-9 .title {
    font-size : 48px;
    color : #4C4C4C;
    font-weight : 300;
}

#section-9 .description {
    font-size : 21px;
    color : #555555;
    font-weight : 300;
}

@media (max-width: 1216px) {
    .home-main-row .title {
        font-size: 50px;
    }
    .name_tag {
        right : 175px;
    }
 }

 @media (max-width: 965px) {
    .section-wraper-1 {
        position: unset;
    }
     .name_tag {
         right : 18%;
    }
    #section-5 {
        margin : 0;
    }
    #section-5 .text-wrap {
        padding : 0;
    }
 }

 @media (max-width: 768px){
    #section-1 {
        height : 100%;
        padding : 30px 0;
    }
    .home-main-row .title, .stick, .name_tag, #section-1 .arrow .fa-chevron-down {
        display: none;
    }
    .home-main-row .sm-title {
        display: unset;
        font-size: 36px;
        text-shadow: 0 2px 3px rgba(0,0,0,.2);
        letter-spacing: -1px;
        font-weight : 300;
    }
    
    #section-5 {
        margin : 0;
        padding : 40px 30px;
    }
    #section-5 .title {
        font-size : 24px;
        margin-top : 20px;
        text-align: center;
    }
    
    #section-5 .description {
        font-size : 16px;
        text-align: center;
    }
    #section-5 .paper {
        padding : 30px 20px;
        margin-bottom : 20px;
        width : 140px;
        height : 130px;
    }
    #section-5 .paper .line {
        height : 12px;
        margin-bottom : 10px;
    }
    #section-5 .bar {
        width : 1.5px;
        height : 16px;
        margin-left : -2px;
        background-color : #000000;
        bottom : 8px;
    }
    #section-5 .check-icon {
        width : 25px;
        height : 25px;
        font-size : 18px;
        right : 155px;
        top : 65px;
    }

    #section-9 {
        padding : 40px 30px;
    }

    #section-9 .image-part {
        height : 188px;
        background-size: 188px;
        background-position: center;
    }

    #section-9 .text-wrap {
        padding : 0;
        margin : 20px 0px 0px;
    } 

    #section-9 .title {
        text-align : center;
        font-size : 24px;
    }

    #section-9 .description {
        text-align : center;
        font-size : 16px;
        margin-bottom : 35px;
    }
 }

 @media (max-width: 468px) {
    .home-card {
        width : 100%;
        height : unset;
    }
 }

 
 