@media screen and (min-width: 768px){
    .mainrow-3 {
        width: 100%;
        height: 487px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color:   #ffffff;
        padding: 20px 0 0 0;
    }
    .wrapper-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

    }
    .block3-1 {
        width:35%;
        margin-right: 5%;   
    }
    .block3-1 div h2 {
        margin-bottom: 15px;
        font-size: 48px;
        line-height: 100%;
    }

    .block3-1 row p{
        font-size: 21px;
    }
    .block3-2 {
        width:40%;
        height: 100%;  
        display: flex;
        align-items: flex-end; 
    }

    .img-3{
        max-width: 100%;
        max-height: 100%;
        margin : auto 0;
    }
    .mainrow-8 {
        width: 100%;
        max-height: 487px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:   #F6F6F6;
        padding: 85px 0;
        position: relative;
        z-index: 5;
    }
    .wrapper-8 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0 20px 30px 20px;
        max-width: 1080px;
    }
    .block8-1 {
        width:45%;
        margin-right: 10%;   
    }

    .font8-1 {
        color:#4C4C4C;  line-height: 100%; font-weight: 300;
        letter-spacing: 100%;
        font-size: 48px;
    }

    .font8-2 {
        color:#555555; font-size: 21px;
    }

    .font8-3 {
        display:flex; align-items: flex-end; color:#999999;
    }
    .img-8 {
        margin-left: 10%;
    }
    .block8-2 {
        width:40%;
    }


    .s-fontcolor {
        font-size: 21px;
        margin: 0 0 10px 0;
        color: #A3A3A3;
    }

    .btn-custom-1 {
        border-radius: 0px;
        height: 56px;
        width: 295px;
    }

    .btn-custom-2 {
        display:none;
    }
    .mainrow-7 {
        height: 701px;
        padding: 85px 0;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        
    }

    .wrapper-7-1 {
        width: 100%;
        max-width: 1080px;
        display:flex;
        justify-content: center;
    }
    
    .wrapper-7-2 {
        display:flex;
        align-items: flex-start;
    }

    .block7-1 {
        width:50%;
    }
    .animation7 img {
        margin-top:20%;
        width:100%;
    }
    .block7-2 {
        width:30%;
        margin: 65px 15px 20px 15px;   
    }
    .font7-1 {
        color:#4C4C4C;  line-height: 100%; font-weight: 300;
        letter-spacing: 100%;
        font-size: 48px;
    }
    .font7-2 {
        color:#555555; font-size: 21px;
        margin-bottom: 10px;
    }
    .btn-custom7-2 {
        background-color: #4386FC;
        height: 56px;
        width: 100%;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin: 30px auto 0 auto;
        font-size: 16px;
        font-weight: 600;
    }
    .btn-custom7-2:hover {
        text-decoration: none;
        color: white;   
    }
    .mainrow-2 {
        height: 680px;
        padding: 40px 0;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
    }

    .wrapper-2-1 {
        width: 100%;
        max-width: 1080px;
        display:flex;
        justify-content: center;
    }
    
    .wrapper-2-2 {
        display:flex;
        align-items: flex-start;
    }

    .block2-1 {
        width:50%;
        display: block;
    }
    .animation2 {
        float: right;
    }

    .animation2 img {
        width:835px;
        height: 454px;
        margin-top: 15%;
    }
    .block2-2 {
        width:45%;
        margin: 182px 15px 20px 15px;   
    }
    .font2-1 {
        color:#4C4C4C;  line-height: 100%; font-weight: 300;
        letter-spacing: 100%;
        font-size: 48px;
        margin-bottom: 20px;

    }
    .font2-2 {
        color:#555555; font-size: 21px;
        margin-bottom: 10px;
        letter-spacing: 0%;
    }
}

@media screen and (max-width: 767px){
    .mainrow-3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: 40px 0;
        background-color:   #ffffff;
    }

    .wrapper-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .block3-1 {
        width:90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .fontsize{
        font-size: 24px;
        margin: 20px 0 10px 0;
    }


    .block3-1 row p{
        font-size: 16px;
        margin: 0 20%;
    }

    .block3-2 {
        height: 150px;;
    }
    .block3-2 img{
        height: 100%;
        margin : auto 0;
    }

    .img-3 {
        height: 100%;   
    }

    .s-fontcolor {
        margin: 0 5% 36px 5%;
        color: #A3A3A3;
        text-align: center;

    }

    .btn-custom-1 {
        display: none;
    }
    .btn-custom-2 {
        background-color: #4386FC;
        height: 50px;
        width: 172px;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin: 0 auto;
        font-size: 12px;
    }
    .btn-custom-2:hover {
        text-decoration: none;
        color: white;   
    }
    .block3-1 div h2 {
        margin:20px 0 10px 0 ;
        font-size: 24px;
    }
    .font3-3 {
        font-size: 12px;
    }
    .l-10 {
        width: 300px;
    }
    .font8-1 {
        color:#4C4C4C;  line-height: 100%; font-weight: 300; margin-bottom: 0;
        margin : 20px 0 10px 0;
        font-size: 24px;
        font-weight: 300;
    }

    .font8-2 {
        color:#555555; font-size: 16px; text-align: center;
        margin-bottom: 20px;
    }

    .font8-3 {
        display:flex; align-items: flex-end; color:#9D9D9D;
        font-size: 14px;
    }
    .mainrow-8 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:   #f6f6f6;
        padding: 40px 0;
    }
    .wrapper-8 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0 30px;
    }
    .block8-1 {
        width:90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 10px 0;
    }
    .block8-2 {
        height: 170px;
    }
    .block8-2 img{
        height: 100%;
        margin : auto 0;
    }

    .mainrow-7 {
        height: 614px;
        padding: 85px 0;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .wrapper-7-1 {
        width: 100%;
        max-width: 1080px;
        display:flex;
        justify-content: center;
    }
    
    .wrapper-7-2 {
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding : 0 30px;
    }

    .block7-1 {
        margin: 0 auto;
        width:260px;
        height: 238px;
        overflow: hidden;
    }
    .animation7 img {
        width:100%;
    }
    .block7-2 {
        color:#555555; font-size: 16px; text-align: center;
        margin-bottom: 20px;
         
    }
    .font7-1 {
        color:#4C4C4C;  line-height: 100%; font-weight: 300; margin-bottom: 0;
        margin : 20px 0 10px 0;
        font-size: 24px;
        font-weight: 300;
    }
    .font7-2 {
        color:#555555; font-size: 16px;
        margin-bottom: 10px;
    }
    .btn-custom7-2 {
        background-color: #4386FC;
        height: 50px;
        width: 50%;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin: 30px auto 0 auto;
        font-size: 12px;
        font-weight: 600;
    }
    .btn-custom7-2:hover {
        text-decoration: none;
        color: white;   
    }
    .mainrow-2 {
        height: 421px;
        padding: 40px 0;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
    }

    .wrapper-2-1 {
        width: 100%;
        max-width: 1080px;
        display:flex;
        justify-content: center;
    }
    
    .wrapper-2-2 {
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .block2-1 {
        width:50%;
        display: block;
    }
    .animation2 {
        float: right;
    }

    .animation2 img {
        height: 190px;
        margin-top: 15%;
    }
    .block2-2 {
        width:85%;
        margin: 20px 0 10px 0;   
    }
    .font2-1 {
        color:#4C4C4C;  line-height: 100%; font-weight: 300;
        letter-spacing: 100%;
        font-size: 24px;
        text-align: center;
    }
    .font2-2 {
        color:#555555; font-size: 16px;
        margin-bottom: 10px;
        letter-spacing: 0%;
        text-align: center;
    }
}

